<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.nyscms.mapper.FrontUserBookmarkMapper" >
  <resultMap id="BaseResultMap" type="com.retech.nyscms.entity.FrontUserBookmark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    
    <!-- 用户id -->
    <result column="fk_user_id" property="fkUserId" jdbcType="BIGINT" />
    
    <!-- 图书id -->
    <result column="fk_book_id" property="fkBookId" jdbcType="BIGINT" />
    
    <!-- 章节索引 -->
    <result column="chapter_index" property="chapterIndex" jdbcType="VARCHAR" />
    
    <!-- 章节名称 -->
    <result column="chapter_name" property="chapterName" jdbcType="VARCHAR" />
    
    <!-- 书签坐标 -->
    <result column="position" property="position" jdbcType="VARCHAR" />
    
    <!-- 摘要内容 -->
    <result column="summary_content" property="summaryContent" jdbcType="VARCHAR" />
    
    <!-- 添加时间 -->
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="position_end" property="positionEnd" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fk_user_id, fk_book_id, chapter_index, chapter_name, position, summary_content, 
    add_time, version, position_end, is_delete, platform
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.nyscms.entity.FrontUserBookmarkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_user_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from front_user_bookmark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_user_bookmark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.nyscms.entity.FrontUserBookmarkExample" >
    delete from front_user_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into front_user_bookmark (id, fk_user_id, fk_book_id, 
      chapter_index, chapter_name, position, 
      summary_content, add_time, version, 
      position_end, is_delete, platform
      )
    values (#{id,jdbcType=INTEGER}, #{fkUserId,jdbcType=BIGINT}, #{fkBookId,jdbcType=BIGINT}, 
      #{chapterIndex,jdbcType=VARCHAR}, #{chapterName,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{summaryContent,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{positionEnd,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{platform,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" >
    insert into front_user_bookmark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fkUserId != null" >
        fk_user_id,
      </if>
      <if test="fkBookId != null" >
        fk_book_id,
      </if>
      <if test="chapterIndex != null" >
        chapter_index,
      </if>
      <if test="chapterName != null" >
        chapter_name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="summaryContent != null" >
        summary_content,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="positionEnd != null" >
        position_end,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="platform != null" >
        platform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkUserId != null" >
        #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="fkBookId != null" >
        #{fkBookId,jdbcType=BIGINT},
      </if>
      <if test="chapterIndex != null" >
        #{chapterIndex,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="summaryContent != null" >
        #{summaryContent,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="positionEnd != null" >
        #{positionEnd,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.nyscms.entity.FrontUserBookmarkExample" resultType="java.lang.Integer" >
    select count(*) from front_user_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_user_bookmark
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fkUserId != null" >
        fk_user_id = #{record.fkUserId,jdbcType=BIGINT},
      </if>
      <if test="record.fkBookId != null" >
        fk_book_id = #{record.fkBookId,jdbcType=BIGINT},
      </if>
      <if test="record.chapterIndex != null" >
        chapter_index = #{record.chapterIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterName != null" >
        chapter_name = #{record.chapterName,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.summaryContent != null" >
        summary_content = #{record.summaryContent,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.positionEnd != null" >
        position_end = #{record.positionEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_user_bookmark
    set id = #{record.id,jdbcType=INTEGER},
      fk_user_id = #{record.fkUserId,jdbcType=BIGINT},
      fk_book_id = #{record.fkBookId,jdbcType=BIGINT},
      chapter_index = #{record.chapterIndex,jdbcType=VARCHAR},
      chapter_name = #{record.chapterName,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      summary_content = #{record.summaryContent,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      position_end = #{record.positionEnd,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      platform = #{record.platform,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update front_user_bookmark
    <set >
      <if test="fkUserId != null" >
        fk_user_id = #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="fkBookId != null" >
        fk_book_id = #{fkBookId,jdbcType=BIGINT},
      </if>
      <if test="chapterIndex != null" >
        chapter_index = #{chapterIndex,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null" >
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="summaryContent != null" >
        summary_content = #{summaryContent,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="positionEnd != null" >
        position_end = #{positionEnd,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update front_user_bookmark
    set fk_user_id = #{fkUserId,jdbcType=BIGINT},
      fk_book_id = #{fkBookId,jdbcType=BIGINT},
      chapter_index = #{chapterIndex,jdbcType=VARCHAR},
      chapter_name = #{chapterName,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      summary_content = #{summaryContent,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      position_end = #{positionEnd,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      platform = #{platform,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-03-04 11:42:34 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>