<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.nyscms.mapper.FrontUserOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.retech.nyscms.entity.FrontUserOrganization" >
    <id column="seqId" property="seqid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    
    <!-- 1：个人用户
            2：机构用户
            3：机构管理员
            4：机构教师
            5：团体个人用户
             -->
    <result column="userType" property="usertype" jdbcType="INTEGER" />
    <result column="classId" property="classid" jdbcType="INTEGER" />
    <result column="teacherId" property="teacherid" jdbcType="INTEGER" />
    <result column="organizationId" property="organizationid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seqId, userId, userType, classId, teacherId, organizationId, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.nyscms.entity.FrontUserOrganizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_user_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from front_user_organization
    where seqId = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_user_organization
    where seqId = #{seqid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.nyscms.entity.FrontUserOrganizationExample" >
    delete from front_user_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into front_user_organization (seqId, userId, userType, 
      classId, teacherId, organizationId, 
      createTime)
    values (#{seqid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{usertype,jdbcType=INTEGER}, 
      #{classid,jdbcType=INTEGER}, #{teacherid,jdbcType=INTEGER}, #{organizationid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" >
    insert into front_user_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        seqId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="usertype != null" >
        userType,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="organizationid != null" >
        organizationId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.nyscms.entity.FrontUserOrganizationExample" resultType="java.lang.Integer" >
    select count(*) from front_user_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_user_organization
    <set >
      <if test="record.seqid != null" >
        seqId = #{record.seqid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.usertype != null" >
        userType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null" >
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.teacherid != null" >
        teacherId = #{record.teacherid,jdbcType=INTEGER},
      </if>
      <if test="record.organizationid != null" >
        organizationId = #{record.organizationid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_user_organization
    set seqId = #{record.seqid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      userType = #{record.usertype,jdbcType=INTEGER},
      classId = #{record.classid,jdbcType=INTEGER},
      teacherId = #{record.teacherid,jdbcType=INTEGER},
      organizationId = #{record.organizationid,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update front_user_organization
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="organizationid != null" >
        organizationId = #{organizationid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seqId = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update front_user_organization
    set userId = #{userid,jdbcType=INTEGER},
      userType = #{usertype,jdbcType=INTEGER},
      classId = #{classid,jdbcType=INTEGER},
      teacherId = #{teacherid,jdbcType=INTEGER},
      organizationId = #{organizationid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where seqId = #{seqid,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-03-04 11:42:34 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>