<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.nyscms.mapper.FrontBookCouponMapper" >
  <resultMap id="BaseResultMap" type="com.retech.nyscms.entity.FrontBookCoupon" >
    <id column="seqID" property="seqid" jdbcType="INTEGER" />
    <result column="eBookID" property="ebookid" jdbcType="INTEGER" />
    <result column="giftID" property="giftid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seqID, eBookID, giftID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.nyscms.entity.FrontBookCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_book_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from front_book_coupon
    where seqID = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_book_coupon
    where seqID = #{seqid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.nyscms.entity.FrontBookCouponExample" >
    delete from front_book_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into front_book_coupon (seqID, eBookID, giftID
      )
    values (#{seqid,jdbcType=INTEGER}, #{ebookid,jdbcType=INTEGER}, #{giftid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" >
    insert into front_book_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        seqID,
      </if>
      <if test="ebookid != null" >
        eBookID,
      </if>
      <if test="giftid != null" >
        giftID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="ebookid != null" >
        #{ebookid,jdbcType=INTEGER},
      </if>
      <if test="giftid != null" >
        #{giftid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.nyscms.entity.FrontBookCouponExample" resultType="java.lang.Integer" >
    select count(*) from front_book_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_book_coupon
    <set >
      <if test="record.seqid != null" >
        seqID = #{record.seqid,jdbcType=INTEGER},
      </if>
      <if test="record.ebookid != null" >
        eBookID = #{record.ebookid,jdbcType=INTEGER},
      </if>
      <if test="record.giftid != null" >
        giftID = #{record.giftid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_book_coupon
    set seqID = #{record.seqid,jdbcType=INTEGER},
      eBookID = #{record.ebookid,jdbcType=INTEGER},
      giftID = #{record.giftid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update front_book_coupon
    <set >
      <if test="ebookid != null" >
        eBookID = #{ebookid,jdbcType=INTEGER},
      </if>
      <if test="giftid != null" >
        giftID = #{giftid,jdbcType=INTEGER},
      </if>
    </set>
    where seqID = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update front_book_coupon
    set eBookID = #{ebookid,jdbcType=INTEGER},
      giftID = #{giftid,jdbcType=INTEGER}
    where seqID = #{seqid,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-03-04 11:42:34 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>