<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.nyscms.mapper.FrontShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.retech.nyscms.entity.FrontShoppingCart" >
    
    <!-- 主键 -->
    <id column="shoppingCartID" property="shoppingcartid" jdbcType="INTEGER" />
    
    <!-- 书籍Id -->
    <result column="eBookID" property="ebookid" jdbcType="INTEGER" />
    
    <!-- 用户Id -->
    <result column="userID" property="userid" jdbcType="INTEGER" />
    
    <!-- 当前商品是否下单：0： 未添加到订单 1：已经添加到订单 -->
    <result column="buyStatus" property="buystatus" jdbcType="INTEGER" />
    
    <!-- 购买数量 -->
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="createdTime" property="createdtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shoppingCartID, eBookID, userID, buyStatus, quantity, createdTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.nyscms.entity.FrontShoppingCartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from front_shopping_cart
    where shoppingCartID = #{shoppingcartid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_shopping_cart
    where shoppingCartID = #{shoppingcartid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.nyscms.entity.FrontShoppingCartExample" >
    delete from front_shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into front_shopping_cart (shoppingCartID, eBookID, userID, 
      buyStatus, quantity, createdTime
      )
    values (#{shoppingcartid,jdbcType=INTEGER}, #{ebookid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{buystatus,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" >
    insert into front_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shoppingcartid != null" >
        shoppingCartID,
      </if>
      <if test="ebookid != null" >
        eBookID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="buystatus != null" >
        buyStatus,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shoppingcartid != null" >
        #{shoppingcartid,jdbcType=INTEGER},
      </if>
      <if test="ebookid != null" >
        #{ebookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="buystatus != null" >
        #{buystatus,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.nyscms.entity.FrontShoppingCartExample" resultType="java.lang.Integer" >
    select count(*) from front_shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_shopping_cart
    <set >
      <if test="record.shoppingcartid != null" >
        shoppingCartID = #{record.shoppingcartid,jdbcType=INTEGER},
      </if>
      <if test="record.ebookid != null" >
        eBookID = #{record.ebookid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.buystatus != null" >
        buyStatus = #{record.buystatus,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.createdtime != null" >
        createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_shopping_cart
    set shoppingCartID = #{record.shoppingcartid,jdbcType=INTEGER},
      eBookID = #{record.ebookid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      buyStatus = #{record.buystatus,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=INTEGER},
      createdTime = #{record.createdtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update front_shopping_cart
    <set >
      <if test="ebookid != null" >
        eBookID = #{ebookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="buystatus != null" >
        buyStatus = #{buystatus,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shoppingCartID = #{shoppingcartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update front_shopping_cart
    set eBookID = #{ebookid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      buyStatus = #{buystatus,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      createdTime = #{createdtime,jdbcType=TIMESTAMP}
    where shoppingCartID = #{shoppingcartid,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-03-04 11:42:34 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>